.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1rem 3rem;
  color: black;
  border: none;
  font-weight: bold;
  border-radius: 2rem;
  transition: all 0.3s;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.75rem;
}

.count {
  background-color: #55c57a;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.text {
  font-size: 1.2rem;
}
.button:hover,
.button:active {
  scale: 1.1;
}
