/* Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485 */

/* $color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  height: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  /* padding: 30px; */
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(./assest/food.jpg);
  background-size: cover;
  background-position: top;
}
